body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #4cb686;
    background-color: #2E7D32;


.cabecalho {
    background: color #7b1597;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho-logo {
    width: 80px;
    margin-bottom: 10px;
}

.cabecalho-titulo {
    margin: 0;
    font-size: 32px;
}

.Campo, .Cidade {
    padding: 20px;
    text-align: center;
}

.Campo h2, .Cidadade h2 {
    color: #28285a;
    font-size: 28px;
}

.  p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

.imagem-Campo  {
    width: 200px;
    margin-top: 10px;
}

. ul {
    list-style-type: none;
    padding: 0;
}

.importancia li {
    margin: 20px 0;
    text-align: left;
}

.importancia p {
    margin: 5px 0 0 0;
    line-height: 1.5;
}

.rodape {
    background-color: hsla(142, 87%, 35%, 0.788);
    color: white;
    text-align: center;
    padding: 10px;
}


















